/* NAVBAR */

.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:12px 40px;
  background:#0f172a;
  color:white;
}

.logo {
  font-size:22px;
  font-weight:bold;
  cursor:pointer;
  padding:8px 16px;
  border-radius:6px;
  border:none;
}

.logo:hover{
  background:#1e293b;
}
.top-bar{
  display:flex;
  justify-content:space-between;
  padding:20px 40px;
}

.search {
  width:350px;
  padding:12px;
  border-radius:6px;
  border:none;
}

.sort {
  padding: 12px;
  border-radius: 6px;
  width: 160px;
  margin-left: 5px
}

.nav-right{
  display:flex;
  align-items:center;
  gap:20px;
}

.nav-right button {
  padding:8px 14px;
  border:none;
  background:#1f4037;
  color:white;
  border-radius:6px;
  cursor:pointer;
}

.profile{
  position:relative;
  cursor:pointer;
  font-weight:500;
}

.dropdown{
  position:absolute;
  top:45px;
  right:0;
  background: white;
  color: red;
  border-radius:10px;
  box-shadow:0 6px 15px rgba(0,0,0,0.15);
  padding:10px;
  display:flex;
  flex-direction:column;
  min-width:180px;
}

.dropdown button{
  background:none;
  color: black;
  border:none;
  padding:10px;
  text-align:left;
  cursor:pointer;
}

.dropdown button:hover{
  background:rgb(227, 209, 178);
}

.logout-btn{
  color:red;
}

.cart-btn-user {
  position: relative;
}

.cart-btn-badge{
  position:absolute;
  top:-8px;
  right:-10px;
  background:crimson;
  color:white;
  border-radius:50%;
  padding:4px 7px;
  font-size:12px;
}