
.pagination{
  display:flex;
  justify-content:center;
  align-items:center;
  gap:20px;
  margin:30px 0;
  text-align: center;
}

.pagination button{
  padding:8px 14px;
  border:none;
  background:#1f4037;
  color:white;
  border-radius:6px;
  cursor:pointer;
}
