/* NAVBAR */

.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:12px 40px;
  background:#0f172a;
  color:white;
}

.logo {
  font-size:22px;
  font-weight:bold;
}

.top-bar{
  display:flex;
  justify-content:space-between;
  padding:20px 40px;
}

.search {
  width:350px;
  padding:12px;
  border-radius:6px;
  border:none;
}

.sort {
  padding: 12px;
  border-radius: 6px;
  width: 160px;
  margin-left: 5px
}

.nav-right{
  display:flex;
  align-items:center;
  gap:20px;
}

.nav-right button {
  padding:8px 14px;
  border:none;
  background:#1f4037;
  color:white;
  border-radius:6px;
  cursor:pointer;
}

.profile{
  position:relative;
  cursor:pointer;
  font-weight:500;
}

.dropdown{
  position:absolute;
  top:45px;
  right:0;
  background: white;
  color: red;
  border-radius:10px;
  box-shadow:0 6px 15px rgba(0,0,0,0.15);
  padding:10px;
  display:flex;
  flex-direction:column;
  min-width:180px;
}

.dropdown button{
  background:none;
  color: black;
  border:none;
  padding:10px;
  text-align:left;
  cursor:pointer;
}

.dropdown button:hover{
  background:rgb(227, 209, 178);
}

.logout-btn{
  color:red;
}

.cart-btn-user {
  position: relative;
}

.cart-btn-badge{
  position:absolute;
  top:-8px;
  right:-10px;
  background:crimson;
  color:white;
  border-radius:50%;
  padding:4px 7px;
  font-size:12px;
}

/* BANNER */

.banner {
  background-color: #1f4037;
  padding:60px;
  text-align:center;
  color:white;
}

/* PRODUCTS */

.products {
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:25px;
  padding:40px;
  background:rgb(227, 209, 178);
}

/* CARD */

.product-card {
  background:white;
  border-radius:12px;
  padding:15px;
  text-align:center;
  box-shadow:0 6px 15px rgba(0,0,0,0.1);
  transition:0.3s;
  max-width: 300px;
}

.product-card:hover {
  transform:translateY(-5px);
}

/* IMAGE */

.product-img {
  width:100%;
  height:180px;
  object-fit:cover;
  border-radius:10px;
}

/* TEXT */

.desc {
  color:#666;
  font-size:14px;
}

.price {
  font-size:18px;
  font-weight:bold;
  color:#e91e63;
}

/* BUTTON */

.cart-stock {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 10px;
}

.cart-btn {
  flex: 1;
  padding: 10px 16px;
  background: #1f4037;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

.cart-btn:disabled {
  background: #bdbdbd;
  cursor: not-allowed;
}

.stock {
  flex: 1;
  padding: 10px 16px;
  border-radius: 6px;
  /* font-weight: 500; */
  text-align: center;
  border: 1px solid #2e7d32;
  background: #e8f5e9;
}

.out {
  /* background: #fdecea; */
  font-weight: 600;
  color: crimson;
  font-size: small;
}

.pagination {
  text-align: center;
}