/* NAVBAR */

.navbar {
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:15px 30px;
  background:#111;
  color:white;
}

.logo {
  font-size:22px;
  font-weight:bold;
}

.search {
  width:350px;
  padding:8px;
  border-radius:6px;
  border:none;
}

.nav-right button {
  margin-left:10px;
  padding:8px 12px;
  border:none;
  background:#ff9800;
  color:white;
  border-radius:6px;
}

/* BANNER */

.banner {
  background-color: #1f4037;
  padding:60px;
  text-align:center;
  color:white;
}

/* PRODUCTS */

.products {
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:25px;
  padding:40px;
  background:#f5f5f5;
}

/* CARD */

.product-card {
  background:white;
  border-radius:12px;
  padding:15px;
  text-align:center;
  box-shadow:0 6px 15px rgba(0,0,0,0.1);
  transition:0.3s;
}

.product-card:hover {
  transform:translateY(-5px);
}

/* IMAGE */

.product-img {
  width:100%;
  height:180px;
  object-fit:cover;
  border-radius:10px;
}

/* TEXT */

.desc {
  color:#666;
  font-size:14px;
}

.price {
  font-size:18px;
  font-weight:bold;
  color:#e91e63;
}

/* BUTTON */

.cart-stock {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 10px;
}

.cart-btn {
  flex: 1;
  padding: 10px 16px;
  background: #1f4037;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

.cart-btn:disabled {
  background: #bdbdbd;
  cursor: not-allowed;
}

.stock {
  flex: 1;
  padding: 10px 18px;
  border-radius: 6px;
  font-weight: 500;
  text-align: center;
  border: 1px solid #2e7d32;
  background: #e8f5e9;
}

.out {
  background: #fdecea;
  font-weight: 600;
}

.pagination{
  display:flex;
  justify-content:center;
  align-items:center;
  gap:20px;
  margin:30px 0;
  text-align: center;
}

.pagination button{
  padding:8px 14px;
  border:none;
  background:#ff9800;
  color:white;
  border-radius:6px;
  cursor:pointer;
}
