.page {
  background: rgb(227, 209, 178);
  min-height: 100vh;
  padding-bottom: 40px 0px;
}

.update-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.form-card {
  width: 60%;
  background: white;
  padding: 35px 40px;
  border-radius: 14px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
}

h1 {
  margin-bottom: 30px;
}

.row {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.form-group {
  flex: 1;   
  display: flex;
  flex-direction: column;
}

input,
select,
textarea {
  padding: 14px;
  border-radius: 10px;
  border: 1px solid #cbd5e1;
  font-size: 14px;
  width: 100%;
  background: white;
  box-sizing: border-box;
}

textarea {
  height: 90px;
}

.error-form {
  color: crimson;
  font-size: small;
  margin-top: 5px;
}

button {
  width: 100%;
  margin-top: 20px;
  padding: 14px;
  background: #0f172a;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #1e293b;
}

.error {
  color: crimson;
  margin-top: 10px;
  text-align: center;
  font-size: small;
}