.product-wrapper{
  display:flex;
  gap:60px;
  width:85%;
  margin:auto;
  margin-top:50px;
}

/* IMAGE */
.image-section{
  flex:1;
  margin-top: 20px;
  margin-left: 60px;
}

.main-img{
  width:100%;
  max-width:420px;
  border-radius:14px;
  box-shadow:0 4px 15px rgba(0,0,0,0.15);
}

.thumbnail-row{
  display:flex;
  gap:10px;
  margin-top:15px;
}

.thumbnail-row img{
  width:70px;
  height:70px;
  object-fit:cover;
  border-radius:8px;
  cursor:pointer;
}

/* DETAILS */
.details-section{
  flex:1.2;
}

.product-title{
  font-size:28px;
  font-weight:600;
  margin-bottom:10px;
}

.rating{
  color:#f59e0b;
  margin-bottom:10px;
}

.price{
  font-size:30px;
  font-weight:bold;
  color:#0f172a;
  margin:10px 0;
}

.stock{
  color:green;
  font-weight:500;
  margin-bottom:10px;
}

.stock.out{
  color:red;
}

.desc{
  margin:20px 0;
  line-height:1.6;
  color:#475569;
}

/* QTY */
.qty-section{
  margin:20px 0;
}

.qty-box{
  display:flex;
  align-items:center;
  gap:15px;
  margin-top:8px;
}

.qty-box button{
  width:35px;
  height:35px;
  border-radius:6px;
}

/* ACTIONS */
.actions{
  display:flex;
  gap:20px;
  margin-top:20px;
  width: 250px;
}

.buy-btn{
  /* flex: 1; */
  width : 120px;
  background:#fb923c;
  color:white;
  border:none;
  padding:14px 30px;
  font-weight:bold;
  border-radius:8px;
  cursor:pointer;
}

.cart-btn:hover{
  background:#eab308;
}

.buy-btn:hover{
  background:#f97316;
}

.added{
  display:block;
  margin-top:15px;
  color:green;
  font-weight:600;
}
